.header-main{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    justify-content: flex-start;
    align-content: normal;
    gap: 50px 40px;
}

.header-main div{
    height: 30px;
}

.header-main .div-1{
width: 100px;
background-color: blueviolet;
order: 3;
}

.header-main .div-2{
    width: 100px;
    background-color: aquamarine;
}

.header-main .div-3{
    width: 100px;
    background-color:red;
}